:root {
  /* Base semantic colors */
  --color-text: var(--color-teal-900);
  --color-text-inverse: var(--color-green-100);

  --color-bg-light-teal: var(--color-teal-100);
  --color-bg-light-purple: var(--color-purple-700);
  --color-bg-dark-teal: var(--color-teal-700);
  --color-bg-dark-purple: var(--color-purple-900);

  /* Brand and accents */

  /* Shadows and overlays */
}
