:root {
  /* Teals */
  --color-teal-100: #cce6e5;
  --color-teal-300: #80c0be;
  --color-teal-500: #00827e;
  --color-teal-700: #005c5a;
  --color-teal-900: #013634;

  /* Greens */
  --color-green-100: #ccf5e5;
  --color-green-300: #7fe7bd;
  --color-green-500: #00ce7c;
  --color-green-700: #007c4b;
  --color-green-900: #004327;

  /* Purples */
  --color-purple-100: #e7e1ee;
  --color-purple-300: #c4b5d5;
  --color-purple-500: #8d71ab;
  --color-purple-700: #5a4175;
  --color-purple-900: #332541;

  /* Neutrals */
  --color-neutral-5: #f3f3f4;
  --color-neutral-20: #cfd1d2;
  --color-neutral-35: #abaeb1;
  --color-neutral-55: #7c8084;
  --color-neutral-75: #4c5258;
  --color-neutral-100: #101820;
  --color-white: #ffffff;
}
